.addBtn {
  padding: 10px;
  width: 25%;
  background: rgba(255, 224, 233);
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: rgba(138, 40, 70);
  color: #eee;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}

.my-box {
  text-align: center;
  padding: 40px;
}

.header {
  background-color: rgba(224, 87, 128);
  padding-bottom: 20px;
  padding-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  text-align: center;
  cursor: pointer;
  list-style-type: none;
  background: rgba(254, 234, 250);
  font-size: 18px;
  padding: 12px 8px 12px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background:rgba(222, 226, 255);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  text-decoration: line-through;
}

/* Style the close button */
.close {
  float: right;
}

.close:hover {
  background-color:rgba(203, 192, 211);
  color: white;
}
